.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.cards::after {
  content: "";
  width: 240px;
}
