.logo_place_header {
  background-image: url(../../../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  transition: 1s;
}

.logo_place_header:hover {
  opacity: .5;
  transition: 1s;
}

